@charset "UTF-8";

body>div {
    width: 1600px;
    margin: 0 auto;
}

div {
    font-family: 'Noto Sans KR', sans-serif;
}

.bjh_logo {
    height: 300px;
    text-align: center;
    line-height: 300px;
    background-color: rgb(250, 177, 206);

}

.bjh_loginAndSign {
    text-align: right;
    font-size: 18px;
    background-color: rgb(250, 177, 206);
}

.bjh_loginAndSign > a {
    margin-top: 20px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

img {
    width: 230px;
    height: 200px;
}

img:hover {
    cursor: pointer;
}

.bjh_navigation > ul > li {
    float: left;
    list-style: none;
    width: calc(100%/8);
    height: 50px;
    background-color: #f199bc;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

.bjh_navigation > ul > li:hover > .bjh_sub {
    transition-duration: 1s;
    height: 200px;
    position: relative;
    z-index: 300;
}

.bjh_navigation > ul > li > a {
    text-decoration: none;
    color: #092e20;
    display: block;
    height: 50px;
}

.bjh_navigation > ul > li:hover > a {
    background-color: #f199bc;
    color: white;
}

.bjh_navigation > ul {
    padding: 0px;
    margin: 0px;
    height: 50px;
}

.bjh_sub > li {
    background-color: rgb(250, 177, 206);
    list-style: none;
    opacity: 0.5;
}

.bjh_sub {
    height: 0;
    padding: 0px;
    overflow: hidden;
}

.bjh_sub > li > a {
    color: white;
    text-decoration: none;
}

.bjh_sub > li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bjh_content {
    background-color: beige;
    height: auto;
    overflow: hidden;
}

.bjh_footer {
    background-color: #f199bc;

}

.bjh_footer > div {
    padding-top: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.upper {
    background-color: rgb(250, 177, 206);
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 25px;
    color: white;
    opacity: 0.8;
    display: none;
}

.bjh_navigation>ul>li:hover {
    cursor: pointer;
}

.bjh_sub>li:hover {
    cursor: pointer;
}