<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="kr.or.tg.member.model.vo.Member" alias="member"/>
		<typeAlias type="kr.or.tg.company.model.vo.Company" alias="company"/>
		<typeAlias type="kr.or.tg.board.model.vo.Board" alias="board"/>
	</typeAliases>
</configuration>
