<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="/search3" method="get">
		<label><input type="checkbox" name="memberId" value="user05">user05</label>
		<label><input type="checkbox" name="memberId" value="user06">user06</label>
		<label><input type="checkbox" name="memberId" value="user07">user07</label>
		<label><input type="checkbox" name="memberId" value="user08">user08</label>
		<label><input type="checkbox" name="memberId" value="user09">user09</label>
		<br>
		<input type="submit" value="조회">
	</form>
</body>
</html>