<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>회원가입</h1>
	<hr>
	<form action="/views/member/join.jsp" method="post">
		<label>아이디 : <input type="text" name="memberId"></label><br>
		<label>비밀번호 : <input type="password" name="memberPw"></label><br>
		<label>이름 : <input type="text" name="memberName"></label><br>
		<label>발사이즈 : <input type="text" name="footSize"></label><br>
		<input type="submit" value="회원가입">
		<input type="reset" value="취소">
	</form>
</body>
</html>